.footer {
  width: 100vw;
  height: 100px;
  bottom: 0;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='200px' width='150px'%3E%3Ccircle cx='75' cy='230' r='130%25' fill='%237B61FF' /%3E%3C/svg%3E");
  background-position-x: -20%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer > img {
  width: auto;
  max-width: 30%;
  max-height: 70%;
  bottom: 0;
  padding: 5px;
}